header
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: #E10600;
    color: #FFFFFF;
}

.logo
{
    height: 100px;
    width: 100px;
    display: flex;
}

.logo svg
{
    height: 100%;
    width: 100%;
}

nav
{
    width: 350px;
    font-size: 18px;
}

nav ul 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li
{
    transition: color 0.25s;
    transition-timing-function: ease-in;
}

nav ul li:hover
{
    color: black;
}